@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap);

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: all cubic-bezier(.175, .885, .32, 1.275) .4s;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
Breaking it down

img {
  max-width: 100%;
  display: block;
  line-height: 0;
}

picture {
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: linear-gradient(180deg, #303A4B 0%, #1d1f31 100%);
}

:root {
  --purple: hsla(263, 55%, 52%, 1);
  --dark-gray: hsla(217, 19%, 35%, 1);
  --black: hsla(219, 28%, 14%, 1);
  --dark-green: rgb(0, 77, 61);
  --white: hsla(0, 0%, 100%, 0.98);
  --light-gray: hsla(210, 46%, 95%, 1);
  --warm-gray: hsla(0, 0%, 85%, 1);
  --50-gray: hsla(217, 10%, 60%, 1)
}

.container {
  margin-inline: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  margin: 40px;
  row-gap: 24px;
  column-gap: 30px;
}

/* typography */
.heading,
span,
a,
h1 {
  font: 600 20px/24px 'Barlow Semi Condensed', sans-serif;
}


.body {
  font: 500 13px/18px 'Barlow Semi Condensed', sans-serif;
  opacity: .7;
}

.profile-name {
  font: 500 13px/1 'Barlow Semi Condensed', sans-serif;
}

.profile-title {
  font: 500 11px/1 'Barlow Semi Condensed', sans-serif;
  opacity: .5;
}

.quote {
  content: url(images/bg-pattern-quotation.svg);
  position: absolute;
  right: 80px;
  top: 0;
  z-index: -1;
}

.card-green {
  color: var(--white);
  background: linear-gradient(180deg, #32ebc9 0%, rgba(52, 215, 185, 0.9) 100%);
  grid-column: span 2;
  position: relative;
  z-index: 1;
}


.green-text {
  font-weight: 600;
  opacity: 0.7;
  color: var(--dark-green);
}

.card-purple {
  color: var(--white);
  background: linear-gradient(180deg, #9357F5 0%, rgba(131, 55, 255, 0.81) 100%);
  z-index: 1;
}

.card-black {
  color: var(--white);
  background: linear-gradient(180deg, #41516e, #3c4e6e 100%);
  grid-column: span 2
}

.card-white-1,
.card-white-2 {
  color: var(--black);
  background: linear-gradient(360deg, #f1f1f7 0, #fff 100%)
}

.card-white-1 {
  grid-row: span 2;
}

.card {
  border-radius: 8px;
  padding: 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, .247378);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile img {
  max-width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/* profile image border */
.border-yellow {
  border: 3px solid #E4FF3E;
}

.border-purple {
  border: 3px solid #9e61ff;
}

.border-cyan {
  border: 3px solid hsla(158, 84%, 81%, 1);
}

.border-gray {
  border: 3px solid rgb(179, 179, 179);
}

.testimonials .heading {
  padding-bottom: 16px;
}

/* *** */

@media (hover:hover) {
  .card:hover {
    transform: scale(1.01);
    filter: saturate(1.3);
    box-shadow: 40px 60px 50px -47px rgba(26, 33, 45, .5);
  }

  .card-green:hover,
  .card-white-2:hover {
    transform: translateX(-8px);
  }

  .card-white-1:hover {
    transform: translateX(8px);
  }

  .card-black:hover {
    transform: translateY(8px);
  }

  .card-purple:hover {
    transform: translateY(-8px);
  }

  .card-grid:hover>.card:not(:hover) {
    filter: blur(1.5px);
    opacity: .8;
  }
}

@media (max-width:800px) {
  .container {
    margin-inline: 24px;
  }
}

/* intro animation */

.profile,
.profile img,
.card,
.quote {
  -webkit-animation: slideIn 1s ease-in;
  animation: slideIn 1s ease-out;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

/* button between projects */

.span-4 {
  grid-column: span 4;
}

.original-heading {
  text-align: center;
}

.link {
  color: var(--white);
  transition: ease-in-out 0.3s;
  /* color: #08F6CA; */
}

.link:hover {
  color: #08F6CA;
  transition: ease-in-out 0.3s;
}

.link {
  color: var(--white);
}

.original-challenge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(180deg, #1a212e, #212a3a 100%);
}

.original-challenge img {
  display: block;
  max-width: 36px;
  max-height: 36px;
  border-radius: 50%;
}

.frontend-background {
  background-image: url(../images/button-bg-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
}


@media (max-width: 800px) {

  .card-black {
    grid-row: 1;
    grid-column: span 2;
  }

  .card-purple {
    grid-column: span 2;
    grid-row: 2;
  }

  .card-green {
    grid-column: span 2;
    grid-row: span 2;
  }

  .card-white-1 {
    grid-column: 3 / span 2;
    grid-row: 1;
  }

  .card-white-2 {
    grid-column: span 2;
    grid-row: 3;
  }
}

@media (max-width: 600px) {
  .card-grid {
    display: flex;
    flex-direction: column;
  }

  .original-challenge {
    display: flex;
    flex-direction: column;
  }
}
