@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: all ease 0.2s;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  line-height: 0;
}

picture {
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/* colors  */
:root {
  /* primary */
  --purple: hsla(263, 55%, 52%, 1);
  --dark-gray: hsla(217, 19%, 35%, 1);
  --black: hsla(219, 28%, 14%, 1);

  /* neutral */
  --white: hsla(0, 0%, 100%, 0.98);
  --light-gray: hsla(210, 46%, 95%, 1);
  --warm-gray: hsla(0, 0%, 85%, 1);
  --50-gray: hsla(217, 10%, 60%, 1);
}

/* typography */

.heading {
  font: 600 20px/24px 'Barlow Semi Condensed', sans-serif;
}

.body {
  font: 500 13px/18px 'Barlow Semi Condensed', sans-serif;
  opacity: 0.7;
}

.profile-name {
  font: 500 13px/1 'Barlow Semi Condensed', sans-serif;
}

.profile-title {
  font: 500 11px/1 'Barlow Semi Condensed', sans-serif;
  opacity: 0.5;
}

/* card colors */

.card-purple {
  color: var(--white);
  background-color: var(--purple);
}

.card-gray {
  color: var(--white);
  background-color: var(--dark-gray);
}

.card-black {
  color: var(--white);
  background-color: var(--black);
}

.card-white-1,
.card-white-2 {
  color: var(--black);
  background-color: var(--white);
}

/* card */

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  margin: 0 auto;
  gap: 24px;
}

.card {
  border-radius: 8px;
  padding: 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}


.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile img {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  /* border: 2px solid var(--white); */
}

.testimonials .heading {
  padding-bottom: 16px;
}