* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: all ease 0.2s;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  line-height: 0;
}

picture {
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

/* colors  */
:root {
  /* primary */
  --dark-blue: hsla(234, 53%, 16%, 1);

  /* neutral */
  --gray: hsla(233, 10%, 56%, 1);

}